* {
    margin: 0px;
    padding: 20px;
    border: 2px dashed #999;
    /* -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box; */

}

html {
    background-color: white;
}

img {
    width: 80px;
    height: 80px;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    min-width: 640px;
    background-color: #eee;
}


.team {
    width: 200px;
    left: 20px;
    box-sizing: border-box;
    position: absolute;
    background-color: white;
}

.team > img {
    float: left;
}

.team > div {
    margin-left: 80px;
    padding: 0px;
}

.article {
    margin-left: 220px;
    margin-right: 140px;
    background-color: white;
}

.logo {
    width: 120px;
    box-sizing: border-box;
    position: absolute;
    right: 20px;
    background-color: white;
}