* {
    margin: 20px;
    padding: 0px;
    border: 5px dashed #999;
    /* -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box; */

}

html {
    background-color: white;
}

img {
    width: 80px;
    height: 80px;
}

body {
    position: relative;
    min-width: 1024px;
    background-color: #eee;
}

 
/* body::after {
    content: "";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
    border: 1px solid black;
}    */

.team {
    width: 200px;
    float: left;
    background-color: white;
    border: 1px solid black;
    box-sizing: border-box;
}

.team > img {
    float: left;
}

.team > span {
    vertical-align: top;
}

.article {
    margin-left: 240px;
    margin-right: 160px;
    background-color: white;
    border: 1px solid black;
    box-sizing: border-box;
}

.logo {
    width: 120px;
    float: right;
    background-color: white;
    border: 1px solid black;
    box-sizing: border-box;
}