* {
    margin: 0px;
} 

 /* header::after {
    content: "";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
}  */

header {
    background-color: grey;
    position: relative;
    min-width: 600px;
    height: 80px;
}
header > nav {
    display: inline-block;
    position: absolute;
    right: 0;
    line-height: 80px;
    height: 80px;
    margin: 0;
}
header > h1 {
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-top: -0.5em;

}

header > nav li, header > nav a {
    display: inline-block;
    line-height: 80px; 
}

body {
    background-color: #e0e0eb
}

article, .side-bar {
    background-color: white;
    margin: 20px;
    padding: 20px;
    box-shadow: 2px 2px grey;
    position: relative;
}

.side-bar {
    background-color: white;
    margin: 20px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    height: 50px;
}

article > ul {
    list-style-type: none;
}

.nice-img {
    border: 1px  solid grey;
    margin: 20px;
    width: 220px;
}
.nice-img > p {
    text-align: center;
}

/* 以下为表格部分 */
table {
    width: 100%;
}
thead {
    background-color: black;
    color: white;
}

tfoot {
    background-color: grey;
}


/* 以下为表单部分 */
.submit{
        text-align: center;
}
.side-bar  aside {
    margin-left: 50%;
}
label {
        display: inline-block;
        width: 50%;
        text-align: right;
}
input, textarea{
        vertical-align: top;
}